# -- Do not put platform specific rules here (e.g. IDE config, OS meta files)

# Common
.env
*.log

# Node

## Dependencies
node_modules
package-lock.json

## Packed tarball
*.tgz

## Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Project specific
/esm
/cjs
